{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        https://docs.star-citizen.wiki/
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Créer
        </button>
        {{ form_end(form) }}
        {% for path in paths %}
            <div class="card mb-3">
                <div class="card-body">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                         aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            {% for location in path %}
                                <li class="breadcrumb-item"><a href="#">{{ location.title }}</a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
